In [7]:
from dotenv import load_dotenv
import pandas as pd 
import alpaca_trade_api as tradeapi
from prophet import Prophet
import os
from pathlib import Path
from pandas.tseries.offsets import DateOffset
import datetime as dt
from prophet import Prophet
import hvplot.pandas

In [8]:
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

load_dotenv()

True

In [9]:
# Create the Alpaca API object
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [16]:
today= dt.date.today() #- DateOffset(days=1)
start= today - DateOffset(years=5)

start_date=start.date()
end_date=today.isoformat()
timeframe='1Day'

print(start_date, end_date)

2018-03-23 2023-03-23

In [17]:
tickers = ["AAPL", "TSLA", "MSFT"] #this will be gathered from sidebar eventually

tickers_dfs = []

timeframe = "1Day"

df_portfolio_year = alpaca.get_bars(
    tickers,
    timeframe,
    start = start_date
).df

#Reformatting the index
df_portfolio_year.index=pd.to_datetime(df_portfolio_year.index).date

df_portfolio_year

,open,high,low,close,volume,trade_count,vwap,symbol
2018-03-23,168.390,169.9200,164.94,164.94,41028966,284670,167.548254,AAPL
2018-03-26,168.060,173.1000,166.44,172.77,37541736,232077,170.050591,AAPL
2018-03-27,173.680,175.1500,166.92,168.34,40923385,276951,171.395108,AAPL
2018-03-28,167.250,170.0200,165.19,166.48,43734295,305622,167.231728,AAPL
2018-03-29,167.805,171.7500,166.90,167.78,38572074,219101,169.158209,AAPL
...,...,...,...,...,...,...,...,...
2023-03-17,184.515,186.2199,177.33,180.13,134006952,1169025,180.459150,TSLA
2023-03-20,178.080,186.4400,176.35,183.25,130154197,1180945,182.886435,TSLA
2023-03-21,188.280,198.0000,188.04,197.58,153390541,1456108,193.690981,TSLA
2023-03-22,199.300,200.6600,190.95,191.15,149629225,1417122,196.701576,TSLA
2023-03-23,195.260,199.3100,188.65,192.22,143650036,1316953,194.657112,TSLA

In [26]:
#forecast_df = pd.DataFrame(columns=['Ticker', 'Forecast'])
stocks = df_portfolio_year.loc[df_portfolio_year["symbol"]== tickers[1]][["close"]]
stocks = pd.DataFrame(stocks)
stocks

Empty DataFrame
Columns: [close]
Index: []

In [20]:
stock = pd.DataFrame(stock)
for tickers in df_portfolio_year:
    
    stock = df_portfolio_year.loc[df_portfolio_year["symbol"]== tickers[0]][["close"]]
    stock = pd.DataFrame(stock)

    #stock_prophet_df = stock.reset_index()
    #stock_prophet_df.index = ["ds","y"]

    #stock_prophet = Prophet()
    #stock_prophet.fit(stock_prophet_df)
    #future_stock = stock_prophet.make_future_dataframe(periods=1, freq="D")

    #forecast_stock = stock_prophet.predict(future_stock)
stock

Empty DataFrame
Columns: [close]
Index: []