In [1]:
# Initial imports
import os
import requests
import pandas as pd
import alpaca_trade_api as tradeapi
from dotenv import load_dotenv
from datetime import date
from pathlib import Path

%matplotlib inline

# Load .env environment variables
load_dotenv('api.env')

# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

In [2]:
# Create the Alpaca API object
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [3]:
NYSE = pd.read_csv(
    Path("Resources/NYSE.csv"),
    index_col="ACT Symbol"
)

In [4]:
display(NYSE)

                                                 Company Name
ACT Symbol
A                     Agilent Technologies, Inc. Common Stock
AA                                    Alcoa Inc. Common Stock
AA$B        Alcoa Inc. Depository Shares Representing 1/10...
AAC                           AAC Holdings, Inc. Common Stock
AAN                                Aaron's, Inc. Common Stock
...                                                       ...
ZPIN        Zhaopin Limited American Depositary Shares, ea...
ZQK                             Quiksilver, Inc. Common Stock
ZTR          Zweig Total Return Fund, Inc. (The) Common Stock
ZTS                          Zoetis Inc. Class A Common Stock
ZX          China Zenix Auto International Limited America...

[3298 rows x 1 columns]

In [5]:
today = date.today()
print("Today:", today)

start = pd.Timestamp("2020-01-01", tz="America/New_York").isoformat()
end = pd.Timestamp(today, tz="America/New_York").isoformat()

Today: 2023-03-21

In [6]:
tickers = ["AAPL", "TSLA", "MSFT"] #this will be gathered from sidebar eventually
tickers_dfs = []

timeframe = "1Day"

df_portfolio_year = alpaca.get_bars(
    tickers,
    timeframe,
    start = start
).df

In [7]:
df_portfolio_year.tail()

,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,
2023-03-15 04:00:00+00:00,180.800,182.3400,176.03,180.45,146163423,1285658,179.391062,TSLA
2023-03-16 04:00:00+00:00,180.365,185.8100,178.84,184.13,121384652,1120980,182.917437,TSLA
2023-03-17 04:00:00+00:00,184.515,186.2199,177.33,180.13,134006952,1169025,180.459150,TSLA
2023-03-20 04:00:00+00:00,178.080,186.4400,176.35,183.25,129790178,1175261,182.885668,TSLA
2023-03-21 04:00:00+00:00,188.280,198.0000,188.04,197.58,152412448,1436637,193.682157,TSLA

In [8]:
for ticker in tickers:
    ticker = df_portfolio_year[df_portfolio_year['symbol']==ticker].drop('symbol', axis=1)
    tickers_dfs.append(ticker)

tickers_dfs

[                             open      high      low   close    volume  \
 timestamp
 2020-01-02 05:00:00+00:00  296.24  300.6000  295.190  300.35  33912668
 2020-01-03 05:00:00+00:00  297.15  300.5800  296.500  297.43  36633895
 2020-01-06 05:00:00+00:00  293.79  299.9600  292.750  299.80  29644774
 2020-01-07 05:00:00+00:00  299.84  300.9000  297.480  298.39  27877668
 2020-01-08 05:00:00+00:00  297.16  304.4399  297.156  303.19  33090947
 ...                           ...       ...      ...     ...       ...
 2023-03-15 04:00:00+00:00  151.19  153.2450  149.920  152.99  77191474
 2023-03-16 04:00:00+00:00  152.16  156.4600  151.640  155.85  76301980
 2023-03-17 04:00:00+00:00  156.08  156.7400  154.280  155.00  98410125
 2023-03-20 04:00:00+00:00  155.07  157.8200  154.150  157.40  73875394
 2023-03-21 04:00:00+00:00  157.32  159.4000  156.540  159.28  72536118

                            trade_count        vwap
 timestamp
 2020-01-02 05:00:00+00:00       283487  298.439523
 2020-01-03 05:00:00+00:00       280941  298.810385
 2020-01-06 05:00:00+00:00       242866  297.799601
 2020-01-07 05:00:00+00:00       227869  298.924297
 2020-01-08 05:00:00+00:00       261771  301.165488
 ...                                ...         ...
 2023-03-15 04:00:00+00:00       704128  151.786431
 2023-03-16 04:00:00+00:00       676098  154.811870
 2023-03-17 04:00:00+00:00       609627  155.341646
 2023-03-20 04:00:00+00:00       621562  156.568928
 2023-03-21 04:00:00+00:00       574991  158.340081

 [810 rows x 7 columns],
                               open      high      low   close     volume  \
 timestamp
 2020-01-02 05:00:00+00:00  424.500  430.6957  421.710  430.26    9558386
 2020-01-03 05:00:00+00:00  440.500  454.0000  436.920  443.01   17795750
 2020-01-06 05:00:00+00:00  440.470  451.5600  440.000  451.50   10160828
 2020-01-07 05:00:00+00:00  461.400  471.6300  453.355  469.06   18209838
 2020-01-08 05:00:00+00:00  473.700  498.4900  468.230  492.14   31199393
 ...                            ...       ...      ...     ...        ...
 2023-03-15 04:00:00+00:00  180.800  182.3400  176.030  180.45  146163423
 2023-03-16 04:00:00+00:00  180.365  185.8100  178.840  184.13  121384652
 2023-03-17 04:00:00+00:00  184.515  186.2199  177.330  180.13  134006952
 2023-03-20 04:00:00+00:00  178.080  186.4400  176.350  183.25  129790178
 2023-03-21 04:00:00+00:00  188.280  198.0000  188.040  197.58  152412448

                            trade_count        vwap
 timestamp
 2020-01-02 05:00:00+00:00       136849  427.110928
 2020-01-03 05:00:00+00:00       236696  445.733112
 2020-01-06 05:00:00+00:00       134221  445.923981
 2020-01-07 05:00:00+00:00       250187  463.834102
 2020-01-08 05:00:00+00:00       413642  485.687930
 ...                                ...         ...
 2023-03-15 04:00:00+00:00      1285658  179.391062
 2023-03-16 04:00:00+00:00      1120980  182.917437
 2023-03-17 04:00:00+00:00      1169025  180.459150
 2023-03-20 04:00:00+00:00      1175261  182.885668
 2023-03-21 04:00:00+00:00      1436637  193.682157

 [810 rows x 7 columns],
                               open     high       low   close    volume  \
 timestamp
 2020-01-02 05:00:00+00:00  158.780  160.730  158.3300  160.62  22634631
 2020-01-03 05:00:00+00:00  158.320  159.945  158.0600  158.62  21121681
 2020-01-06 05:00:00+00:00  157.080  159.100  156.5100  159.03  20827120
 2020-01-07 05:00:00+00:00  159.320  159.670  157.3200  157.58  21881740
 2020-01-08 05:00:00+00:00  158.930  160.800  157.9491  160.09  27762026
 ...                            ...      ...       ...     ...       ...
 2023-03-15 04:00:00+00:00  259.980  266.480  259.2100  265.44  46067581
 2023-03-16 04:00:00+00:00  265.205  276.560  263.2800  276.20  54831124
 2023-03-17 04:00:00+00:00  278.260  283.330  276.3201  279.43  69231892
 2023-03-20 04:00:00+00:00  276.980  277.480  269.8500  272.23  43107256
 2023-03-21 04:00:00+00:00  274.880  275.000  269.5191  273.78  33570246

                            trade_count        vwap
 timestamp
 2020-01-02 05:00:00+00:00       175505  159.776455
 2020-01-03 05:00:00+00:00       166450  159.179016
 2020-01-06 05:00:00+00:00       148393  158.483594
 2020-01-07 05:00:00+00:00       167836  158.298698
 2020-01-08 05:00:00+00:00       198630  159.600002
 ...                                ...         ...
 2023-03-15 04:00:00+00:00       610286  263.740924
 2023-03-16 04:00:00+00:00       689121  272.517382
 2023-03-17 04:00:00+00:00       689908  279.392327
 2023-03-20 04:00:00+00:00       596678  272.018493
 2023-03-21 04:00:00+00:00       413610  272.322164

 [810 rows x 7 columns]]

In [9]:
df_portfolio_year = pd.concat(tickers_dfs,axis=1, keys=tickers)
df_portfolio_year.head()

                             AAPL                                       \
                             open      high      low   close    volume
timestamp
2020-01-02 05:00:00+00:00  296.24  300.6000  295.190  300.35  33912668
2020-01-03 05:00:00+00:00  297.15  300.5800  296.500  297.43  36633895
2020-01-06 05:00:00+00:00  293.79  299.9600  292.750  299.80  29644774
2020-01-07 05:00:00+00:00  299.84  300.9000  297.480  298.39  27877668
2020-01-08 05:00:00+00:00  297.16  304.4399  297.156  303.19  33090947

                                                     TSLA                     \
                          trade_count        vwap    open      high      low
timestamp
2020-01-02 05:00:00+00:00      283487  298.439523  424.50  430.6957  421.710
2020-01-03 05:00:00+00:00      280941  298.810385  440.50  454.0000  436.920
2020-01-06 05:00:00+00:00      242866  297.799601  440.47  451.5600  440.000
2020-01-07 05:00:00+00:00      227869  298.924297  461.40  471.6300  453.355
2020-01-08 05:00:00+00:00      261771  301.165488  473.70  498.4900  468.230

                           ...                                      MSFT  \
                           ...    volume trade_count        vwap    open
timestamp                  ...
2020-01-02 05:00:00+00:00  ...   9558386      136849  427.110928  158.78
2020-01-03 05:00:00+00:00  ...  17795750      236696  445.733112  158.32
2020-01-06 05:00:00+00:00  ...  10160828      134221  445.923981  157.08
2020-01-07 05:00:00+00:00  ...  18209838      250187  463.834102  159.32
2020-01-08 05:00:00+00:00  ...  31199393      413642  485.687930  158.93

                                                                            \
                              high       low   close    volume trade_count
timestamp
2020-01-02 05:00:00+00:00  160.730  158.3300  160.62  22634631      175505
2020-01-03 05:00:00+00:00  159.945  158.0600  158.62  21121681      166450
2020-01-06 05:00:00+00:00  159.100  156.5100  159.03  20827120      148393
2020-01-07 05:00:00+00:00  159.670  157.3200  157.58  21881740      167836
2020-01-08 05:00:00+00:00  160.800  157.9491  160.09  27762026      198630


                                 vwap
timestamp
2020-01-02 05:00:00+00:00  159.776455
2020-01-03 05:00:00+00:00  159.179016
2020-01-06 05:00:00+00:00  158.483594
2020-01-07 05:00:00+00:00  158.298698
2020-01-08 05:00:00+00:00  159.600002

[5 rows x 21 columns]