In [1]:
# Import the required libraries and dependencies
import os
import requests
import json
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi

In [2]:
# Load the environment variables from the .env file
#by calling the load_dotenv function
load_dotenv()

True

In [3]:
# Set the variables for the Alpaca API and secret keys
alpaca_api_key=os.getenv("ALPACA_API_KEY")
alpaca_secret_key=os.getenv("ALPACA_SECRET_KEY")

# Create the Alpaca tradeapi.REST object
alpaca=tradeapi.REST(alpaca_api_key,alpaca_secret_key,api_version="v2")

In [6]:
# Set start and end dates of 3 years back from your current date
# Alternatively, you can use an end date of 2020-08-07 and work 3 years back from that date 
import datetime as dt
from pandas.tseries.offsets import DateOffset

today= dt.date.today() #- DateOffset(days=1)
start= today - DateOffset(years=5)

start_date=start.date()
end_date=today.isoformat()

timeframe='1Day'

print(start_date, end_date)

2018-03-21 2023-03-21

In [5]:
#Ticker inputs from streamlit

tickers_input = ['AAPL','GOOG','MSFT'] ## Set this to input from streamlit

tickers = ['AAPL','GOOG','MSFT'] # Final processed ticker list here

In [51]:
#Create a empty dataframe for API data

API_df=pd.DataFrame(columns=['open','high','low','close','volume','trade_count','vwap','symbol'])

#Appending data from alpaca.get_bars to the empty dataframe

for ticker in tickers:
    ticker_data=alpaca.get_bars(ticker,
                             timeframe,
                             start=start_date,
                             # end=end_date
                             ).df
    ticker_data['symbol']=ticker
    API_df=pd.concat([API_df,ticker_data],axis=0)

#Reformatting the index
API_df.index=pd.to_datetime(API_df.index).date

display(API_df.head())
display(API_df.tail())

,open,high,low,close,volume,trade_count,vwap,symbol
2018-03-21,175.04,175.09,171.26,171.270,37055152,238351,173.087620,AAPL
2018-03-22,170.00,172.68,168.60,168.845,41493879,289764,170.196940,AAPL
2018-03-23,168.39,169.92,164.94,164.940,41028966,284670,167.548254,AAPL
2018-03-26,168.06,173.10,166.44,172.770,37541736,232077,170.050591,AAPL
2018-03-27,173.68,175.15,166.92,168.340,40923385,276951,171.395108,AAPL

,open,high,low,close,volume,trade_count,vwap,symbol
2023-03-15,259.980,266.48,259.2100,265.44,46067581,610286,263.740924,MSFT
2023-03-16,265.205,276.56,263.2800,276.20,54831124,689121,272.517382,MSFT
2023-03-17,278.260,283.33,276.3201,279.43,69231892,689908,279.392327,MSFT
2023-03-20,276.980,277.48,269.8500,272.23,43107256,596678,272.018493,MSFT
2023-03-21,274.880,275.00,269.5191,273.39,24906957,390469,271.840225,MSFT